.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  top: 0;
  z-index: 180;
  background-color: white;
  font-size: 30px;
}

.header_logo {
  height: 25px;
  object-fit: contain;
  margin-left: 10px;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_center {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid lightgray;
}

.header_searchbutton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
  cursor: pointer;
}

.header_right {
  display: flex;
  align-items: center;
}

.header_icon {
  margin-right: 12px;
}

.header_center > input {
  flex: 1;
  border: none;
  outline: none;
}
