.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  font-size: 30px;
}

.header_logo {
  height: 30px;
  object-fit: contain;
  margin-left: 10px;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_center {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid lightgray;
}

.header_searchbutton {
  width: 50px !important;
  background-color: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
  cursor: pointer;
  padding: 3px;
}

.header_right {
  display: flex;
  align-items: center;
}

.header_icon {
  margin-right: 12px;
}

.header_center > input {
  flex: 1;
  border: none;
  outline: none;
}

@media screen and (max-width: 480px) {
  .header_center {
    width: 20%;
    flex: 1;
  }
  .header_searchbutton {
    width: 20px;
  }
  .header {
    gap: 30px;
    width: 24rem;
  }
  .header_icon {
    display: none !important;
  }
  .header_logo {
    padding-top: 10px;
  }
}
