.sidebar {
  flex: 0.15;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .sidebar {
    display: none;
  }
}
