.recommendedvideos {
  flex: 0.8;
  background-color: #f9f9f9;
  padding: 40px 20px;
  padding-bottom: 0;
}

.recommendedVideos > h2 {
  margin-left: 5px;
  margin-bottom: 20px;
}

.recommendedvideos_videos {
  display: flex;
  flex-wrap: wrap;
}

.recommendedvideos_videos > * {
  margin-left: 5%;
}

.loading {
  transition: all linear;
  animation: rot 1s linear infinite;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  .loading {
    margin-right: -5px;
  }
}
