.app_mainpage {
  display: flex;
}

.app_mainpage > :nth-child(2) {
  flex-grow: 6;
}

.app_mainpage > :nth-child(1) {
  flex-grow: 1;
}

a {
  text-decoration: inherit;
  color: inherit;
}

.loading {
  display: block !important;
  width: 50%;
  margin: auto;
}
